source /boot/grub/config.cfg

menuentry "Try MOKO OS" --hotkey=t {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@ moko.mode=desktop
	initrd	@INITRD_LIVE@
}

menuentry "Hardware Diagnostics" --hotkey=h {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@ moko.mode=hardware-diagnostics plymouth.enable=0 systemd.show_status=true rd.systemd.show_status=true loglevel=4 vt.global_cursor_default=1 console=tty0
	initrd	@INITRD_LIVE@
}

menuentry "Safe Graphics Mode" --hotkey=s {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@ moko.mode=safe-graphics
	initrd	@INITRD_LIVE@
}

submenu 'Utilities...' --hotkey=u {
	source /boot/grub/theme.cfg

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" --hotkey=f {
			fwsetup
		}
	fi

	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Verify integrity of the boot medium" --hotkey=v {
			linux	@KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
			initrd	@INITRD_LIVE@
		}
	fi
}
